/* https://wizpert.com/wizdom/drop-down-menus-in-html-css-javascript */
body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#topNav{
    position: relative;
    z-index: 99;
    }

#topNav .dropDown{
    position: relative;
    z-index: 99;
}

#topNav .dropDown .dropable{
    position: relative;
    z-index: 999;
}

#topNav .dropDown .dropable .hoverDrop{
position: absolute;
          z-index: 999;
display: none;
}

/* .button a:link a:visited */
#TopNav .button a {
    text-decoration:none;
    color:#000000;
}

.fleft { float:left;width:100px; }
.fright { float:right;width:100px; }
.fcenter { float:center ;width:100px; }

.outer {
    width:100%;
}
.inner {
    width: 90%;
    margin: 0 auto;
    /* IE 8 */
    display: table;
}

div.ui-menu {
}

div.ui-menu li {
background-image:url('liblue.gif');
list-style:none;
background-image:none;
background-repeat:none;
background-position:0;
display:inline-block;
text-align: center;
background-color: #cccccc;
color: #222222;
margin: 5px 0px 5px 0px;
border-radius: 3px;
-moz-border-radius: 3px;
box-shadow: 2px 3px 5px #000000;
border: #969696 1px dashed;
padding-left:14px;
padding-right:14px;
}

.menu a:link {
text-decoration:none;
color:#000000;
}

.menu a:visited {
text-decoration:none;
color:#000000;
}
.menu a:hover {color:#FF00FF;}
.menu a:active {color:#0000FF;}

div.highlights ul {
list-style-type:none;
padding:0px;
margin:0px;
}

.panel {
    background-color: #EEEEEE;
    width:600px;
}

div.highlights {
    padding-left:14px;
}

div.highlights li {
    background-image:url('liblue.gif');
    background-repeat:no-repeat;
    background-position:0px 5px;
    padding-left:14px;
    position: relative;
}

div.bottom-banner {
    text-align: center;
}

div.headings {
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    font-size: 150%;
    width: 100%;
}

div.title {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    font-size: 130%;
    width: 100%;
}

div.title_2 {
    margin-top: 8px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 120%;
}

div.desc {
    margin-left: 8px;
}

div.bottom-bar {
    border-top: 1px solid gray;
    width: 100%;
    float: center;
}

table {
    border: 0px;
}


table.list {
    width: 100%;
    border:0px
}

table.list td {
    border: 0px solid gray;
}
